# Feasibility Assessment

In [1]:
%cd ..

/Users/lisaschmidt/Documents/GitHub/data-engineering-showcase

In [2]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

In [3]:
cnx = sqlite3.connect('data/connections.sqlite')
df_connections = pd.read_sql_query("SELECT * FROM connections", cnx)
df_connections

,start,end,transport_type,route,duration,driving_distance
0,Bremerhaven,Marl,car,LINESTRING(8.586580000000001 53.55175000000000...,152,288.831379
1,Bremerhaven,Marl,train,None,320,NaN
2,Bremerhaven,Marl,train,None,385,NaN
3,Bremerhaven,Marl,train,None,322,NaN
4,Dortmund,Karlsruhe,car,"LINESTRING(7.46417 51.51505, 7.461770000000000...",200,355.366236
...,...,...,...,...,...,...
40510,Chemnitz,Osnabrück,train,None,320,NaN
40511,Halle (Saale),Bielefeld,car,LINESTRING(11.970030000000001 51.4824400000000...,180,344.566496
40512,Halle (Saale),Bielefeld,train,None,231,NaN
40513,Halle (Saale),Bielefeld,train,None,192,NaN
40514,Halle (Saale),Bielefeld,train,None,195,NaN

In [4]:
route_ER_NUE = df_connections[df_connections.start == "Erlangen"][df_connections.end == "Nürnberg"]
route_ER_NUE

/var/folders/9l/2lhc2hnd6px5hd0bxlsy1rh80000gn/T/ipykernel_56141/585231601.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  route_ER_NUE = df_connections[df_connections.start == "Erlangen"][df_connections.end == "Nürnberg"]

,start,end,transport_type,route,duration,driving_distance
21561,Erlangen,Nürnberg,car,LINESTRING(11.003060000000001 49.5980900000000...,23,24.085094
21562,Erlangen,Nürnberg,train,None,16,NaN
21563,Erlangen,Nürnberg,train,None,27,NaN
21564,Erlangen,Nürnberg,train,None,19,NaN

In [5]:
fastest_car_trip = route_ER_NUE[route_ER_NUE.transport_type == "car"].sort_values(by="duration", ascending=True)
car_duration = fastest_car_trip.iloc[0].duration
car_duration

23

In [6]:
fastest_train_trip = route_ER_NUE[route_ER_NUE.transport_type == "train"].sort_values(by="duration", ascending=True)
train_duration = fastest_train_trip.iloc[0].duration
train_duration

16

In [7]:
print(f"A trip from Erlangen to Nuremberg is {round((train_duration - car_duration)/car_duration*100, 2)} % faster by car. Meaning the trip by train is siginificantly shorter.")

A trip from Erlangen to Nuremberg is -30.43 % faster by car. Meaning the trip by train is siginificantly shorter.